body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-bottom: 5px;
}

.status {
  text-align: center;
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 10px;
}

.chat-box {
  flex: 1;
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* BASE DA MENSAGEM */
.message {
  padding: 10px 14px;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.4;
}

/* VOCÊ */
.message.you {
  background: #3b82f6;
  align-self: flex-end;
  text-align: right;
}

/* ESTRANHO */
.message.partner {
  background: #334155;
  align-self: flex-start;
  text-align: left;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.label {
  font-size: 11px;
  opacity: 0.7;
  display: block;
  margin-bottom: 4px;
}

.actions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

button.danger {
  background: #ef4444;
}


button.primary {
  background: #3b82f6;
  color: white;
}

button.primary:hover {
  background: #2563eb;
}

button.secondary {
  background: #475569;
  color: white;
}

button.secondary:hover {
  background: #334155;
}
